@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br />
<br />
<br />

<div class="container" id="formulario">
    <form role="form">
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">General</h2>
            <div class="col-sm-6">
                <div class="form-group">
                    <br />
                    <label for="ced">Cédula o pasaporte:</label>
                    <input type="text" class="form-control" id="ced">
                </div>
                <div class="form-group">
                    <label for="nom">Nombre:</label>
                    <input type="text" class="form-control" id="nom">
                </div>
                <div class="form-group">
                    <label for="mail">Email:</label>
                    <input type="text" class="form-control" id="mail">
                </div>
                <div class="form-group">
                    <label for="nac">Nacionalidad:</label>
                    <input type="text" class="form-control" id="nac">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <br />
                    <label for="tel">Teléfono:</label>
                    <input type="text" class="form-control" id="tel">
                </div>
                <div class="form-group">
                    <label for="dir">Dirección:</label>
                    <textarea class="form-control" rows="4" id="dir"></textarea>
                </div>
                <label for="sexo">Sexo:</label>
                <select name="cars">
                    <option value="h">Hombre</option>
                    <option value="m">Mujer</option>
                </select>
            </div>
        </div>
        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Contacto de Emergencia</h2>
            <div class="col-sm-6">
                <div class="form-group">
                    <br />
                    <label for="cont">Contacto:</label>
                    <input type="text" class="form-control" id="cont">
                </div>
                <div class="form-group">
                    <label for="telE">Teléfono:</label>
                    <input type="text" class="form-control" id="telE">
                </div>
            </div>
            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <label for="mailE">Email:</label>
                    <input type="text" class="form-control" id="mailE">
                </div>
                <div class="form-group">
                    <label for="rel">Relación:</label>
                    <input type="text" class="form-control" id="rel">
                </div>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">Alimentación</h2>
            <div class="col-sm-6">
                <br />
                <label for="dieta" style="width:80px; text-align:right">Dieta: </label>
                <select name="cars">
                    <option value="sr">Sin Restricción</option>
                    <option value="veg">Vegetariano</option>
                    <option value="vg">Vegano</option>
                    <option value="otro">Otro</option>
                </select>
                <br />
                <br />
                <label for="pref" style="width:80px; text-align:right">Preferencia: </label>
                <select name="cars">
                    <option value="carne">Carne</option>
                    <option value="pes">Pescado</option>
                    <option value="pollo">Pollo</option>
                    <option value="cerdo">Cerdo</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="aler">Alergias:</label>
                <textarea class="form-control" rows="4" id="alergias"></textarea>
            </div>
        </div>

        <div class="container">
            <h2 style="border-bottom:8px solid #FDBB30">¿Cómo se enteró de la Estación?</h2>
            <div class="col-sm-6">
                <br />
                <label for="motivo">
                    Por favor seleccione una opción, si no aparece
                    indique cuál en el campo de texto
                </label>
                <select name="medios">
                    <option value="hotel">Hotel Local</option>
                    <option value="medios">Periódicos, revistas, TV</option>
                    <option value="agencia">Agencia de Viajes</option>
                    <option value="guia">Guía turística</option>
                    <option value="amigos">Amigos</option>
                </select>
            </div>
            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <label for="otro">Otro:</label>
                    <textarea class="form-control" rows="2" id="otroText"></textarea>
                </div>
            </div>
        </div>

    </form>
      
    <div class="container">
        <h2 style="border-bottom:8px solid #FDBB30">Waiver of Liability</h2>
        <div class="well" style="font-size:medium">
            I hereby confirm that I have been properly informed that any and all visits to the Organization for Tropical
            Studies(OTS) involve inherent risks related to carrying out activities in biological conservation stations,
            such as walking through slippery, moist trails and/or areas, covered with foliage and trees. In addition, I
            have been informed that in the area to be visited there are snakes, insects and other animals with the well-known
            risk such as bites and stings. I have no health problems that forbid me from participating in the visit that I am
            about to make and I agree to follow all instructions given to me for my own safety. I hereby release OTS and
            ESINTRO S.A., their legal representatives, directos and employees, of all civil, penal and any other kind of
            responsability for any physical or moral injury, sickness or death resulting from my stay in OTS facilities, which
            I am assuming under my own risk.
        </div>
    </div>

    <div class="container col-sm-4" style="padding: 30px 10px">
        <input type="submit" value="Submit" class="btn btn-successOET" />
    </div>

</div>