@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + FormsAuthentication.Decrypt((HttpContext.Current.Request.Cookies.Get(FormsAuthentication.FormsCookieName)).Value).Name + "!", "Usuario", "Administracion", routeValues: null, htmlAttributes: new { title = "Administracion" })
        </li>
        <li>
            @Html.ActionLink("Cerrar sesión", "Login", "Usuario")
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
