
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/Error.cshtml";
}

<h2 style="margin-top: 150px; font-size: 50px">Oops...</h2>


<span style="margin-top: 100px" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<p style="font-family:'Century Gothic'; font:bolder; font-size: 30px; margin-top: 15px;">  
    A problem occurred , we apologize the inconveniences!
</p>

<a class="btn btn-successOET" type="button" href="http://www.ots.ac.cr/index.php?lang=es">Return</a>

